/* article * {
  width: 700px;
  margin: 0 auto;
} */
article> p,
article> blockquote,
article> ol,
article> ul,
article> li {
  margin-top: 29px;
  font-size: 20px;
  line-height: 34px;
}
article img { display: block; width: 1020px; margin: 79px auto 0;
}
article img + h2 { margin-top: 79px;
}
article img + p,
article img + blockquote,
article img + ul { margin-top: 77px;
}
h2 + img { margin-top: 82px;
}
h3 + img { margin-top: 81px;
}
